$primary-color: rgb(39, 36, 9);

body {
  padding: 20px 20px 60px;
  margin: 0;
  color: $primary-color;
}

h1{
    color: $primary-color;
    font-size: 70px;
}

p{
    font-size: 30px;
}

.heading{
    text-align: center;
}